includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    level: 6
    tmpDir: phpstancache
    paths:
        - app
        - database
        - routes
        - tests
    excludePaths:
        - database/migrations
